$black: #000000;

$green-500: #09c269;
$green-700: #05743f;
$green-100: #cef3e1;
$gray-100: #f3f4f6;
$gray-150: #eaecef;
$gray-300: #b3b3b5;
$gray-400: #6f6f6f;
$gray-500: #4a4a4c;
$white: #fff;

// overriding bootstrap
$primary: $green-500;
$red-500: #d9534f;