@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$black: #000000;
$green-500: #09c269;
$green-700: #05743f;
$green-100: #cef3e1;
$gray-150: #eaecef;
$gray-400: #6f6f6f;
$gray-500: #4a4a4c;
$white: #fff;

body {
  font-family: "Inter", sans-serif;
}